body {
    background-color: ghostwhite;
    display: flex;
}

#timer{
    float: right;
    justify-content: left;
}

/* main {
    width: 100%;
} */

p {
    font-family: sans-serif;
}



#start-button {
    font-size: 30px;
    width: 300px;
}


#questions {
    font-size: 30px;
}

#answers {
    font-size: 20px;
}